	 body {
		/* background-color: #bfbdff; */
		 background-repeat: no-repeat;
		 background-size: cover;
		 /* background-position: top; */
		 background-image: url("https://www.signify.com/content/dam/signify/en-aa/innovation/uv-c/uvc-lighting-mh-l.jpg");
		 color: #C4FDC7;
		 height: 100vh;
	 }
	div#infoReport {
	    /* border: 1px solid; */
		margin-top:2%;
		display:none;
	    padding: 2%;
	    background-color: rgba(235,254,236,0.15);
	    box-shadow: 0px 1px 6px 4px #ebfeec70;
	}
	 /*  FOOTER  */
	footer {
		position: absolute;
		bottom: 0;
		display: inline-block;
		text-align: center;
		width: 100%;
		background: #00000045;
	}

	footer p {
		margin: 0.5rem auto;
		text-shadow: 0px 0px 2px white;
	}

	.link {
		text-decoration: none;
		color: inherit;
	}

	.link:hover {
		color: #409cff;
		text-decoration: none;
	}
